/* diseño RESPONSIVO */

/* Media de 1200px Es para dispositivos grandes o Tablets*/
@media (max-width: 1200px) {
    .SUB-TILE_IMPORTANTE{
        width: 80%;
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: center;
    }
    nav {
        position: sticky;
        top: 0;
        z-index: 2000;
    }

    body {
        overflow-x: hidden;
        margin: 0;
        height: auto;
        width: 100%;
    }

    nav li {
        margin: -15px;
    }

    li a:hover {
        transform: scale(0.9);
        margin-left: 0px;
        margin-right: 40px;
    }

    nav li a span{
        font-size: 20px;
    }

    svg{
        height: 40px;
        width: 40px;
    }

    li img{
        height: 60px;
        width: 60px;
    }


    /* Tile */

    .titulo {
        font-size: 70px;
        width: 80%;
    }
    
    /* seccion 2 */

    div .Seccion_2{
        flex-direction: column;
        margin-top: 0px;
    }
    div.Contenedor_Blanco_IMG{
        scale: 0.5;
    }
    div.Contenedor_Blanco_IMG img {
        scale: 0.9;
    }

    div.Seccion_2 p{
        font-size: 32px;
    }

    /* Salas */
    
    h1.Sub_Tile_Salas {
        font-size: 40px;
    }

    .BR_Display{
        display:block;
    }

    /* Funciones */

    h1.Funciones_Tile {
        font-size: 50px;
    }
    div.Contenedor_Funciones{
        overflow:visible;
        width: 250px;
        height: 250px;
    }


    button.Btn_Funciones{
        z-index: 100;
        padding: 15px 20px;
        font-size: 30px;
        margin:0px;
    }

    .Funciones_Horario {
        margin: 5px;
    }

    /* Seccion 3 */

    .dia img {
        max-width: 350px;
        width: auto;
        height: auto;
    }

    h1.Tile_Ubicacion {
        font-size: 50px;
    }

    /* seccion 4 */

    div.Seccion_4 {
        flex-direction: column;
        align-items: center;
        margin: auto;
        justify-content: center;
    }

    div.Seccion_4 div {
        margin: 50px;
        width: 90%;
    }

    .Seccion_4 iframe { /* EDITAR */
        height: 90%;
        width: 80%;
    }
    .Seccion_4 button {
        padding: 10px;
        scale: 0.5;
        align-items: center;
        font-size: 40px;
    }
    .Seccion_4 button:hover {
        scale: 0.7;
    }

    /* Salas */
        .sala.central {
        opacity: 1;
        transform: scale(0.5);
    }

    .Button_SALAS {
    font-size: 10px;
    padding: 5px 10px;
    scale: 0.2;
    }

    .sala.central {
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    /* seccion de Precio Boletos */
    h1.Costo_Entrada{
        font-size: 50px;
    }
    div.Contenedor_Paquetes{
        flex-direction:column;
    } 
    div.Contenedor_Paquetes div{
        flex-direction: column;
    }
    p.propiedad_Paquete {
        font-size: 50px;
        text-shadow: 10px 2px 10px  rgba(0, 17, 255, 0.849);
    }

    .caja_propiedades div h1 {
        font-size: 40px;
    }

    .caja_propiedades div p {
        font-size: 20px;
    }

    div.Contenedor_Paquetes div {
        width: 90%;
    }

    div.Bloque_Precio{
        height: 200px;
    }


    /* Horarios */

    h1.Tile_horarios{
        font-size: 65px;
    }

    /* seccion 6 */

    p.Tile_RedsSoc{
        font-size: 60px;
    }
    .Seccion_6 {
        flex-direction: row;
    }
    .Seccion_6 img{
        height: 80px;
        width: 80px;
        margin: 10px;
    }
    .Seccion_6 p{
        font-size: 20px;
    }

    /* Footer */
    div.Contenido{
        flex-direction: row;
    }
    p.Footer_Tile{
        font-size: 30px;
    }

    footer img.Facebook_Img_Link{
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }

    img.IMG_ubicacion{
        height: 50px;
        width: 50px;
        object-fit: cover;
        transform-origin: center; 
    }
    footer h3{
        font-size: 15px;
    }

    div.Contenido p{
        color: #000000;
        font-size: 10px;
    }

    .Informacion_panetario div img{
        flex-direction: row;
    }

    div.Informacion_panetario img{
        height: 60px;
        width: 60px;
    }

    /* Footer */
    div.Contenido{
        flex-direction: row;
    }
}
/* Media de 950px tablets en Horizontal */

@media (max-width: 950px) {
    nav li a {
        width: 40px;
        height: 40px;
        padding: 40px;
    }

    nav li {
        margin: auto;
    }

    nav li span{
        display: none;
    }
}


/* Media de 912px tablets pequeñas */

@media (max-width: 912px) {
    .titulo {
        font-size: 90px;
        width: 80%;
    }
    
    .pantalla-estrellas {
        margin-bottom:0px;
    }
}

/* Media de 853px tablets Medianas */
@media (max-width: 853px) {
    .titulo {
        font-size: 60px;
    }
    
    .pantalla-estrellas {
        margin-bottom: -40px;
    }
}

/* Media de 792px Dispositivos en Horizontal */
@media (max-width: 792px) {
    nav li a {
        width: 30px;
        height: 40px;
        padding: 10px;
    }

    nav li {
        margin: 0px;
    }
}

/* media de  768px*/
@media (max-width: 768px) {
    /* Aniamciones */

    /* sub-tile */
    @keyframes floatSpaceCrazy {
        0% {
            transform: translate(0px, 0px) rotate(0deg);
        }
        10% {
            transform: translate(20px, -10px) rotate(3deg);
        }
        25% {
            transform: translate(-40px, 20px) rotate(-4deg);
        }
        40% {
            transform: translate(30px, 10px) rotate(5deg);
        }
        60% {
            transform: translate(-20px, -30px) rotate(-5deg);
        }
        80% {
            transform: translate(10px, 10px) rotate(2deg);
        }
        100% {
            transform: translate(0px, 0px) rotate(0deg);
        }
    }

    /* iconos Menu */

    @keyframes shake {
        0% { transform: translateX(0); }
        20% { transform: translateX(-3px); }
        40% { transform: translateX(3px); }
        60% { transform: translateX(-3px); }
        80% { transform: translateX(3px); }
        100% { transform: translateX(0); }
    }
    /* menu Navegacion */

    body {
        overflow-x: hidden;
        margin: 0;
        height: auto;
        width: 100%;
    }

    nav li {
        margin: -15px;
    }

    nav li a {
        width: 40px;
        height: 50px;
    }

    li a:hover svg {
        animation: shake 0.9s infinite;
    }

    li a:hover {
        transform: scale(1.1);
        margin: auto;
    }

    nav li a span{
        display: none;
    }

    svg{
        height: 40px;
        width: 40px;
    }

    li img{
        height: 40px;
        width: 40px;
    }

    /* Tile */

    .titulo {
        font-size: 50px;
        width: 80%;
    }
    .pantalla-estrellas {
        margin-bottom:0px;
    }

    /* seccion 2 */

    div .Seccion_2{
        flex-direction: column;
        margin-top: 0px;
    }
    div.Contenedor_Blanco_IMG{
        scale: 0.5;
    }
    div.Contenedor_Blanco_IMG img {
        scale: 0.9;
    }

    div.Seccion_2 p{
        font-size: 18px;
    }

    /* Salas */
    
    h1.Sub_Tile_Salas {
        font-size: 55px;
    }
    .BR_Display{
        display:block;
    }

    /* Funciones */
    div.Contenedor_Funciones{
        overflow:visible;
        width: 250px;
        height: 250px;
    }


    button.Btn_Funciones{
        z-index: 100;
        padding: 15px 20px;
        font-size: 30px;
        margin:0px;
    }

    .Funciones_Horario {
        margin: 5px;
    }

    /* Seccion 3 */

    .dia img {
        max-width: 350px;
        width: auto;
        height: auto;
    }

    p.informacion_Funciones {
        font-size: 20px;
    }

    /* seccion 4 */

    div.Seccion_4 {
        flex-direction: column;
        align-items: center;
        margin: auto;
        justify-content: center;
    }

    div.Seccion_4 div {
        margin: 50px;
        width: 90%;
    }

    .Seccion_4 iframe { /* EDITAR */
        height: 90%;
        width: 80%;
    }

    div.Ubiacion_DIV p{
        text-align: center;
        font-size: 20px;
    }

    .Seccion_4 button {
        padding: 10px;
        scale: 0.5;
        align-items: center;
        font-size: 40px;
    }
    .Seccion_4 button:hover {
        scale: 0.7;
    }

    /* Salas */
        .sala.central {
        opacity: 1;
        transform: scale(0.5);
    }

    .Button_SALAS {
    font-size: 10px;
    padding: 5px 10px;
    scale: 0.2;
    }

    .sala.central {
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    /* seccion de Precio Boletos */
    h1.Costo_Entrada{
        font-size: 70px;
    }
    div.Contenedor_Paquetes{
        flex-direction:column;
    } 

    div.Contenedor_Paquetes div{
        flex-direction: column;
    }


    /* Horarios */
    .Seccion_6 {
        flex-direction: row;
    }
    .Seccion_6 img{
        height: 80px;
        width: 80px;
        margin: 10px;
    }
    .Seccion_6 p{
        font-size: 20px;
    }

    div.Dias_Disponibles p {
        font-size: 20px;
    }
    
}

@media (max-width: 320px) {
    .titulo {
        font-size: 40px;
        width: 80%;
    }

    .pantalla-estrellas {
        margin-bottom:0px;
    }

    /* Tile */

    .pantalla-estrellas {
        margin-bottom: -40px;
    }

    /* seccion 2 */

    div .Seccion_2{
        flex-direction: column;
        margin-top: 0px;
    }
    div.Contenedor_Blanco_IMG{
        scale: 0.5;
    }
    div.Contenedor_Blanco_IMG img {
        scale: 0.9;
    }

    div.Seccion_2 p{
        font-size: 32px;
    }
}