/*|||||°°°°°_____ Recursos _____°°°°°|||||*/

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Bungee+Tint&display=swap');

/* font-family: "Berkshire Swash", serif; */

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Berkshire+Swash&family=Bungee+Tint&display=swap');
/* font-family: "Berkshire Swash", serif; */

/* ---ANIMACIONES--- */

/* Animation Sub-Tile */

@keyframes floatSpaceCrazy {
    0% {
    transform: translate(0px, 0px) rotate(0deg);
    }
    10% {
    transform: translate(40px, -30px) rotate(3deg);
    }
    25% {
    transform: translate(-60px, 50px) rotate(-4deg);
    }
    40% {
    transform: translate(50px, 30px) rotate(5deg);
    }
    60% {
    transform: translate(-40px, -60px) rotate(-5deg);
    }
    80% {
    transform: translate(30px, 40px) rotate(2deg);
    }
    100% {
    transform: translate(0px, 0px) rotate(0deg);
    }
}

/* iframe Aparecer */
@keyframes aparecerSuave {
    0% {
    opacity: 0;
    transform: translateY(50px);
    }
    100% {
    opacity: 1;
    transform: translateY(0);
    }
}

/* Menu Hover */
@keyframes shake {
    0% { transform: translateX(0); }
    20% { transform: translateX(-6px); }
    40% { transform: translateX(6px); }
    60% { transform: translateX(-6px); }
    80% { transform: translateX(6px); }
    100% { transform: translateX(0); }
}

/* Entrada del Titulo */

@keyframes fadeInTitulo {
    from {
        opacity: 0;
        transform: scale(1.2);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* Rotacion de imagen */

@keyframes sway {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(5deg); }
    50% { transform: rotate(-5deg); }
    75% { transform: rotate(3deg); }
    100% { transform: rotate(0deg); }
}

  /* Aparecer de la Imagen Principal */
@keyframes zoomIn {
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutLeft {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(-100%);
        opacity: 0;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOutRight {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}

/*|||||°°°°°_____ GENERAL _____°°°°°|||||*/
body{
    background-color: #0f1237;
    overflow-x: hidden;
}


/*|||||°°°°°_____ Menu de Navegacion _____°°°°°|||||*/

nav{
    z-index:2000;
    position:sticky;
    position: -webkit-sticky;
    padding: 1px;
    top: 0;
}

nav ul{
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border-radius: 40px;
    background-color: rgba(79, 5, 129, 0.452);
    background-size: 400% 400%; 
    margin: 0; 
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li{
    float:left;
}

nav li a{
    font-size: 32px;
    font-family: "Oleo Script", serif; 
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    width: 180px;
    text-decoration: none;
    border-radius: 100px;
    text-shadow: 3px 1px 4px #000000;
    transition: all 0.3s ease-in-out;
    opacity: 0.7;
}

li a:hover{
    background-color:#0d0dbb5d;
    color: #ffee00;
    text-shadow: 6px 2px 8px #000000;
    transform: scale(1.3);
    opacity: 1.0;
    text-decoration: underline;
}

li a.NONE:hover{
    transform: scale(0.0); 
    color: #ffffff;
}

li a:hover {
    transform: scale(1.3);
}

li a:hover svg {
    animation: shake 0.5s infinite;
}

li img{
    height: 120px;
    width: 120px;
}

li a:hover img {
animation: shake 1.2s infinite;
}

.pantalla-estrellas {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

#canvas-estrellas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.titulo {
    font-size: 85px;
    color: #e6497d;
    text-shadow:
        -2px -2px 0 #ffffff,
        2px -2px 0 #ffffff,
        -2px 2px 0 #ffffff,
        2px 2px 0 #ffffff,
        4px 4px 8px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-family: "Berkshire Swash", serif;
    text-align: center;
    position: relative;
    z-index: 2;
    opacity: 0;
    animation: fadeInTitulo 2s ease forwards;
    animation-delay: 2s;
    cursor:default;
    width: 60%;
    margin: auto;
    margin-top: 70px;
    align-items: center;
}

/*|||||°°°°°_____CUERPO_____°°°°°|||||*/

/*|||||°°°°°_____Seccion_1_____°°°°°|||||*/

div.Seccion_1 {
    color: #ffee00;
    text-align: center;
    z-index: 2;
}

div.Seccion_1 img {
    height: 100%;
    width: 100%;
    margin: auto;
    opacity: 0;
    transform: scale(0.8);
    animation: zoomIn 4s ease-out forwards;
}

/*|||||°°°°°_____Seccion_2_____°°°°°|||||*/

div.Seccion_2{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.Seccion_2 p{
    color: #ffffff;
    text-align: center;
    font-size: 30px;
}

div.Contenedor_Blanco_IMG {
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 30px 40px 20px #000000e3;
    display: inline-block;
}

div.Contenedor_Blanco_IMG img {
    transition: transform 0.3s ease;
    animation: sway 1.2s ease-in-out infinite;
}

div.Contenedor_Blanco_IMG:hover img {
    transition: transform 0.3s ease;
}


/*|||||°°°°°_____FUNCIONES_____°°°°°|||||*/

h1.Funciones_Tile {
    font-size: 120px;
    color: #e6497d;
    text-shadow:
        -2px -2px 0 #ffffff,
        2px -2px 0 #ffffff,
        -2px 2px 0 #ffffff,
        2px 2px 0 #ffffff,
        4px 4px 8px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-family: "Berkshire Swash", serif;
    text-align: center;
    animation: floatSpaceCrazy 10s ease-in-out infinite;
}

p.informacion_Funciones {
    text-align: center;
    color: #ffffff;
    font-size:1.2em; 
}

.Funciones_Horario {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 5px;
}

.Contenedor_Funciones {
    position: relative;
    width: 500px;
    height: 300px;
    overflow: hidden;
}

.dia {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dia img {
    max-width: 500px;
    width: auto;
    height: auto;
    border-radius: 40px;
    display: block;
}

.dia.active {
    position: relative;
    opacity: 1;
    z-index: 1;
}

.Funciones_Horario button {
    font-size: 80px;
    background-color: transparent;
    color: #ffffff;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    margin: 40px;
}

.Funciones_Horario button:hover {
    color: #ffee00;
    transform: scale(1.3);
    background-color: #141a72b2;
}

#btn-prev:hover {
    box-shadow: -20px 20px 20px #000000;
}

#btn-next:hover {
    box-shadow: 20px 20px 20px #000000;
}

  /* Animaciones */
.slide-in-left {
    animation: slideInLeft 0.5s forwards;
}

.slide-in-right {
    animation: slideInRight 0.5s forwards;
}

.slide-out-left {
    animation: slideOutLeft 0.5s forwards;
}

.slide-out-right {
    animation: slideOutRight 0.5s forwards;
}


  /* Texto día */
#nombre-dia {
    color: rgb(255, 230, 0);
    text-align: center;
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: "Berkshire Swash", serif;
}

/*|||||°°°°°_____Seccion_3_____°°°°°|||||*/
div.Seccion_3{
    display: flex;
    justify-content: center;
    align-items: center;
}

div.Seccion_3 button{
    font-size: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: transparent;
    color: #ffffff;
    border: none;
    cursor: pointer;
    scale: 1.0;
}

div.Seccion_3 button:hover{
    color: #ffee00;
    scale: 1.5;
}

h1.Sub_Tile_Salas{
    font-size: 80px;
    color: #e6497d;
    text-shadow:
        -2px -2px 0 #ffffff,
        2px -2px 0 #ffffff,
        -2px 2px 0 #ffffff,
        2px 2px 0 #ffffff,
        4px 4px 8px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-family: "Berkshire Swash", serif;
    text-align: center;
    animation: floatSpaceCrazy 10s ease-in-out infinite;
}

/*|||||°°°°°_____Seccion_4_____°°°°°|||||*/

h1.Tile_Ubicacion{
    font-size: 120px;
    color: #e6497d;
    text-shadow:
        -2px -2px 0 #ffffff,
        2px -2px 0 #ffffff,
        -2px 2px 0 #ffffff,
        2px 2px 0 #ffffff,
        4px 4px 8px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-family: "Berkshire Swash", serif;
    text-align: center;
    animation: floatSpaceCrazy 10s ease-in-out infinite;
}

div.Seccion_4 {
    display: flex;
    flex-direction: row;
}

div.Seccion_4 div{
    margin: 50px;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
}
div.Mapa_Contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Seccion_4 iframe {
    margin: auto;
    display: flex;
    height: 500px;
    width: 700px;
    border-radius: 30px;
    border: none;
    animation: aparecerSuave 1s ease-in-out;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
}

  /* Efecto hover mejorado */
.Seccion_4 iframe:hover {
    box-shadow: 30px 20px 40px rgb(0, 0, 0);
    transform: scale(1.03);
    cursor: pointer;
}


div.Ubiacion_DIV{
    color: #ffffff;
    font-size: 35px;
}

div.Ubiacion_DIV p{
    text-align: center;
    font-size: 37px;
}

.Seccion_4 button {
    background: #2629a7; color: #fff; 
    border: none; 
    padding: 12px 34px;
    border-radius: 30px; 
    font-size: 20px; 
    font-weight: bold; 
    cursor: pointer; 
    display: flex; 
    align-items: center; 
    gap: 8px;
    border-radius: 10px;
    scale: 1.0;
    transition: background-color 0.4s ease, transform 0.7s ease-in-out; /* Más fluido */
}

.Seccion_4 button:hover {
    background-color: rgb(0, 162, 255);
    scale: 1.1; /* Agrandamiento más pequeño */
    cursor: pointer;
    box-shadow: 20px 20px 20px #000000;
}

.Seccion_4 button a {
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: color 0.3s ease; /* Suavizar el color del texto */
}

.Seccion_4 button:hover a {
    color: #fff; /* Mantener el color blanco al hacer hover */
}



/*|||||°°°°°_____Seccion_5_____°°°°°|||||*/

h1.Costo_Entrada{
    font-size: 100px;
    color: #e6497d;
    text-shadow:
        2px -2px 0 #ffffff,
        -2px 2px 0 #ffffff,
        2px 2px 0 #ffffff,
        4px 4px 8px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-family: "Berkshire Swash", serif;
    text-align: center;
    animation: floatSpaceCrazy 10s ease-in-out infinite;
}

p.propiedad_Paquete{
    text-align: center;
    color: #ffffff;
    font-size: 70px;
    text-shadow: 10px 2px 10px  rgba(0, 17, 255, 0.849);
}

.Shadow-color{
    text-shadow: 10px 2px 10px  rgba(247, 0, 255, 0.849);
}

div.Contenedor_Paquetes{
    display: flex;
    flex-direction:column;
} 

div.Contenedor_Paquetes div{
    margin: auto;
}

div.Paquete_Pack , div.Paquete_Personas{
    display: flex;
    flex-direction:column;
}

div.Paquete_Pack .Bloque_Precio , div.Paquete_Personas .Bloque_Precio{
    background-color: #a8235c;
    margin: 30px;
    border-radius: 40px;
    text-align: center;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}



div.caja_propiedades{
    display: flex;
    flex-direction: row;
}

div.caja_propiedades :hover {
    background-color: #0a1af32a;
    border-radius: 20px;
}

div.Bloque_Precio{
    height: 230px;
}

div.Bloque_Precio h1{
    text-align: center;
    font-size: 70px;
    color: #ffffff;
    align-items: center;
    margin: auto;
}

div.caja_propiedades h1{
    color: #ffffff;
    text-align: center;
    font-size: 60px;
}

div.caja_propiedades p{
    color: #ffffff;
    text-align: center;
    font-size: 30px;
}

/*|||||°°°°°_____Horarios Planetario_____°°°°°|||||*/

h1.Tile_horarios{
    font-size: 100px;
    color: #e6497d;
    text-shadow:
        -2px -2px 0 #ffffff,
        2px -2px 0 #ffffff,
        -2px 2px 0 #ffffff,
        2px 2px 0 #ffffff,
        4px 4px 8px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-family: "Berkshire Swash", serif;
    text-align: center;
    animation: floatSpaceCrazy 10s ease-in-out infinite;
}

div.Dias_Disponibles p{
    text-align: center;
    color: #ffffff;
    font-size: 40px;
}

div.Dias_Disponibles div.imagen_Horarios{
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
}

.imagen_Horarios img{
    border-radius: 20px;
    height: auto;
    width: 60%;
    box-shadow: 5px 5px 5px #000000;
}

.imagen_Horarios img:hover{
    box-shadow: 20px 20px 20px #000000;
}

/*|||||°°°°°_____Seccion_6_____°°°°°|||||*/

p.Tile_RedsSoc{
    font-size: 100px;
    color: #e6497d;
    text-shadow:
        -2px -2px 0 #ffffff,
        2px -2px 0 #ffffff,
        -2px 2px 0 #ffffff,
        2px 2px 0 #ffffff,
        4px 4px 8px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-family: "Berkshire Swash", serif;
    text-align: center;
    animation: floatSpaceCrazy 10s ease-in-out infinite;
}

.Seccion_6{
    display: flex;
    flex-direction: row;
}
.Seccion_6 div{
    margin: auto;
    align-items: center;
}

.Seccion_6 img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin: 60px;
}

.Seccion_6 img {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Transición suave */
}

.Seccion_6 img:hover {
    box-shadow:
        -2px -2px 20px #ffffffea,
        2px -2px 20px #ffffffea,
        -2px 2px 20px #ffffffea,
        2px 2px 20px #ffffffea,
        4px 4px 8px rgb(0, 0, 0);
    transform: scale(1.1); /* Suavizar el agrandamiento */
}

.Seccion_6 p{
    text-align: center;
    color: #ffffff;
    font-size: 50px;
}

/*|||||°°°°°_____Pie de Paguina_____°°°°°|||||*/

footer{
    background-color:antiquewhite;
}

p.Footer_Tile{
    text-shadow:
    -2px -2px 0 #0c1153,
    2px -2px 0 #0e1249,
    -2px 2px 0 #111770,
    2px 2px 0 #1f2572,
    6px 6px 8px rgba(0, 0, 0, 0.808);
    color: #ffffffe7;
    font-size:46px;
    font-family: "Berkshire Swash", serif;
    margin: 30px;
    text-align: left;
}

footer img.Facebook_Img_Link{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

footer img{
    height: 160px;
    width: 160px;
    margin: 20px;
    border-radius: 10px;
    align-items: center;
}

div.Contenido{
    display: flex;
    flex-direction:row;
    margin: auto;
    text-align: center;
}
div.Aling-Izquierda{
    display: flex;
    flex-direction: row;
    margin: 20px;
}

div.margin_Space{
    margin: 10px;
    flex-direction: row;
}

div.Contenido p{
    color: #000000;
    font-size: 20px;
}

div.Informacion_panetario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img.IMG_ubicacion{
    height: 100px;
    width: 160px;
    scale: 1.4;
}

/* Funcion toque Funciones */

.Contenedor_Funciones {
    transition: transform 0.9s ease;
    position: relative;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
}

.Contenedor_Funciones.expandida {
    transform: scale(1.2);
    z-index: 1000;
}

/* Oculta los botones cuando se expande */
.Funciones_Horario.expandida .Btn_Funciones {
    display: none;
}

html {
    scroll-behavior: smooth;
}


.creditos {
    text-align: center;
    color: #ffc609;
    font-size: 1.1em;;
    font-style: italic;
}